.backCircleButton {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid;
    min-width: 24px;
    width: 24px;
    height: 24px;
    border-radius: 100%;
    //background-color: #fff;
    //color: $graysoft;
    //border-color:
}
