@import '../../styles/variables';

.counter {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    padding: 1rem;
    border: 1px solid $grayBorder;
    border-radius: 4px;
    place-content: center;

    &__indicator {
        font-size: $lg;
        color: $acianText;
        background-color: transparent;
        border: none;
        font-weight: 600;
        cursor: pointer;

        &:disabled {
            opacity: 0.8;
            color: $grayBorder;
            cursor: default;
        }
    }
    &__count {
        font-size: $normal;
        color: $grayText;
        text-align: center;
        font-family: $lato;
        letter-spacing: 0.2px;
        pointer-events: none;
    }
}
@media (min-width: 1024px) {
    .counter {
        width: 100%;
    }
}
