//Colors
$redRimac: #ef3340;
$grayTitle: #494f66;
$grayText: #676f8f;
$grayBorder: #c5cbe0;
$placeholder: #a3abcc;
$graybg: #f7f8fc;
$acianText: #6f7dff;
$green: #43b748;
$graysoft: #f0f2fa;
$borderopacity: #e4e8f7;
//Fonts
$lato: 'Lato', sans-serif;
$roboto: 'Roboto', sans-serif;

//Sizes
$xs: 10px;
$sm: 12px;
$normal: 14px;
$md: 16px;
$lg: 18px;
$xl: 24px;
$xxl: 28px;
$big: 36px;
