.details {
    background: #fff;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}
@media (min-width: 1024px) {
    .cotizacion {
        display: grid;
        grid-template-columns: 11fr 15fr 11fr;
    }
    .details {
        padding: 3rem;
    }
}
@media (min-width: 1350px) {
    .details {
        padding: 3rem 6rem;
    }
}
